RSK_TESTNET_RPC_URL=
RSK_MAINNET_RPC_URL=
BLOCKSCOUT_API_KEY=
BLOCKSCOUT_API_URL=
PRIVATE_KEY=
export SWAP_TYPE=mocSwaps
# export SWAP_TYPE=dexSwaps
export LENDING_PROTOCOL=tropykus
# export LENDING_PROTOCOL=sovryn
export REAL_DEPLOYMENT=false
export STABLECOIN_TYPE=DOC
